*{
    margin: 0;
    padding: 0;
}
.body{
  font-family: "Poppins", sans-serif;
  background-color: #D8F2E3;
}
.left-side-navbar, .center-side-block, .right-side-navbar{
    background-color:#F4F7FA;
}
.left-side-navbar{
    z-index: 2;
    padding: 20px;
}
.main-file-view-block{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 2px 33px -16px rgba(0,0,0,0.79);
    -moz-box-shadow: -1px 2px 33px -16px rgba(0,0,0,0.79);
    box-shadow: -1px 2px 33px -16px rgba(0,0,0,0.79);
    background-color: #FCFDFD;
}
.tab-group{
    display: block;
    align-items: center;
    margin: 0px auto;
    margin-top: 30px;
}
.tab{
    width: 150px;
    padding-top: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: auto;
    color: #7c7b7b;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}
.tab:hover{
    background-color: #EBEEF8;
}
.file-folder-card{
    height: 180px;
    width: 150px;
    border-radius: 6%;
    padding: 10px;
    padding-bottom:10px;
    text-align: center;
}
.file-folder-card:hover{
    background-color: #F7FAFC;
}
.file-folder-card img{
    margin: 10px;
    width: 80px;
    opacity: 0.7;
}
.folder-group{
    min-width: 200px;
}
.title-text{
    font-weight: 600;
    color: #7c7b7b;
}
.small-text{
    font-size: 12px;
    margin-top: 5px;
}
.folders-block{
    max-width: 300px;
    margin: 10px;
}
.search{
    padding-left: 10px;
    padding-left: 10px;
    border: 1px gray solid;
    border-radius: 40px;
    margin-bottom: 30px;
}
.button-group{
    border-radius: 50%;
    margin-bottom: 30px;
}
input{
    border:none;
}
input:focus-visible{
    border:none;
    outline:none;
}
button{
    border: none;
    background-color: #FCFDFD;
    outline: none;
    border-radius: 50%;
}

.upload-block{
    padding: 10px;
    border-radius: 20px;
    background-color: #EBEEF8;
    transition: all 1s;
}
.upload-block input{
    margin-top: 30px;
    padding: 10px;
    background-color: #ebeef8;
}
.upload-block .file-input{
    overflow-x: hidden;
}
.upload-block-dropdown-btn{
    cursor: pointer;
}
.ui-control-btn{
    background-color: inherit;
    transform: rotate(180deg);
}
.bottom-bar{
    width: 300px;
    background-color: #ebeef8;
    position: fixed;
    bottom: 0;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    right: 20px;
    -webkit-box-shadow: -1px 2px 33px -16px rgba(0,0,0,0.79);
    -moz-box-shadow: -1px 2px 33px -16px rgba(0,0,0,0.79);
    box-shadow: -1px 2px 33px -16px rgba(0,0,0,0.79);
}
.rotate {
    transition: all 0.5s;
    transform: rotate(360deg);
}

.menu-btn{
    display: none;
    position: relative;
    bottom: 15px;
    font-size: 30px;
}
.cancel-btn{
    display: none;
}
.showmenu{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
}
.showme{
    display: block;
    transition: all 1s;
}
@media screen and (max-width:1240px) {
    .left-side-navbar{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .cancel-btn{
        display: block;
    }
    .showmenu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 1s;
    }
    .showme{
        display: block;
        transition: all 1s;
    }
}
@media screen and (max-width : 1100px){
    .upload-window{
        display: none;
    }
    .upload-block{
        position: fixed;
        bottom: 0;
        right: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .left-side-navbar{
        display: block;
    }
    .cancel-btn{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .showme{
        display: block;
        transition: all 1s;
    }
    .showmenu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 1s;
    }
}
@media screen and (max-width:750px){
    .left-side-navbar{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .cancel-btn{
        display: block;
    }
    .showme{
        display: block;
        transition: all 1s;
    }
    .showmenu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 1s;
    }
}

@media screen and (max-width: 575px) {
    .search input{
        width: 100px;
    }
    .showme{
        display: block;
        transition: all 1s;
    }
    .showmenu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 1s;
    }
}
